<div id="loadingMessage">
    <div class="loading-text">
        The server is waking up. This might take a few seconds
        <div class="loading-circle"></div>
    </div>
</div>

</div>

<script>
    document.getElementById('loadingMessage').style.display = 'flex';

    window.addEventListener('load', () => {
        document.getElementById('loadingMessage').style.display = 'none';
    });
</script>
