<%- include('../index.ejs')%>

<header>
    <% if(user) { %>
    <div>
        <p><%= user.userName.charAt(0).toUpperCase() + user.userName.slice(1).toLowerCase() %></p>

    </div>

        <h3><%= pageTitle %></h3>

        <span>
        <a href="user/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>

        </span>

        <input type="hidden" value="<%= user.userName %>" name="loggedUser"/>
        <% } %>
</header>



