<%- include('../index.ejs')%>

<header>
    <% if(user) { %>
        <h3>You are logged in as <%= user.userName %></h3>

        <a href="user/logout"> logout</a>
        <input type="hidden" value="<%= user.userName %>" name="loggedUser"/>
</header>



<% } %>