@import "game.css";
@import "header.css";
@import "home.css";
@import "lobby.css";
@import "404.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    overflow-x: hidden;
    background-image: url('../images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.game-not-started:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-color: transparent;*/
    z-index: 99999;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.5);


}

.user-username-span{
    margin: auto;
    display: block;
    width: fit-content;
    font-weight: 900;
    text-align: center;
    font-size: x-large;
    background: linear-gradient(135deg, #e9ff00, #e9ff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}


#loadingMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(184, 184, 184, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 1000;
    display: none; /* Initially hidden */
}

.loading-text {
    display: flex;
    align-items: center;
}

.loading-circle {
    width: 24px;
    height: 24px;
    border: 3px solid #ccc;
    border-top: 3px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*.user-username:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: -8.7%;*/
/*    top: 0;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-top: 17.7px solid transparent;*/
/*    border-bottom: 20px solid transparent;*/
/*    border-right: 20px solid #00a158;*/
/*}*/

/*.user-username:after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    right: -8.7%;*/
/*    top: 0;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-top: 17.7px solid transparent;*/
/*    border-bottom: 20px solid transparent;*/
/*    border-left: 20px solid #00a158;*/
/*}*/
