body div.msg-game-not-started{
    display: none!important;
}
body.game-not-started div.msg-game-not-started {
    position: fixed;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    z-index: 99999999999;
    transform: translate(-50%, -50%);
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

body.game-not-started div.msg-game-not-started h3{
    text-align: center;
}

body.game-not-started div.msg-game-not-started .loading-dots span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #333;
    border-radius: 50%;
    animation: loading 1.4s infinite both;
}

body.game-not-started div.msg-game-not-started .loading-dots span:nth-child(1) {
    animation-delay: -0.32s;
}

body.game-not-started div.msg-game-not-started .loading-dots span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes loading {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

.game-main-section {
    margin: 50px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow: hidden;

}

.game-main-section .players-info {
    width: 253px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game-main-section .players-info.your-info{
    background: linear-gradient(5deg, #0c7e0c, #5bda66);
}

.game-main-section .players-info.opp-info{
    background: linear-gradient(5deg, #e31818, #da5b5b);
}
.game-main-section .players-info h4.clicks-left {

}

.game-main-section .players-info h4.clicks-left.alert {

    color: red;
}

.game-main-section .mines-container {
    width: 253px;
    height: 253px;
    margin: auto;
    border: solid #222222 2px;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-auto-rows: max-content;
}

.game-main-section .mines-container span.square {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background: #c0c0c0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    border: 2px outset #ececec;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.game-main-section .mines-container span.square.heart {
    color: green;
}

.game-main-section .mines-container span.square.mine {
    color: red;
}

.game-main-section .mines-container span.square:active {
    background: #bdbdbd;
    border: solid #999;
    border-width: 2px 0 0 2px;
}

.game-main-section .mines-container span.square.opened {
    background-color: #a6a4a4;
    border: solid #222222;
    border-width: 0 1px 1px 0;
    pointer-events: none;
}

.game-main-section .mines-container span.square.opened.joiner {
    background-color: #d88484 !important;
}

.game-main-section .msg-creator-start-first{
    color: white;
    background: #0c7e0c;
    letter-spacing: 2px;
    position: absolute;
    z-index: 9;
    padding: 50px;
    border-radius: 15px;
    background: linear-gradient(45deg, #6f8a83, #4a4a35);
    display: none;
}

.game-main-section .msg-creator-start-first.fadeOut{
    display: block;
    animation: fadeOutMsg 3s 2s forwards ;

}


@keyframes fadeOutMsg {

    from{
        transform: scale(1);
        opacity: 1;
        display: block;
    }

    to{
        transform: scale(15);
        opacity: 0;
        display: none;
    }

}