.game-main-section {
    margin: 50px 0 0 0;
    width: 100%;
}

.game-main-section .mines-container {
    width: 253px;
    height: 253px;
    margin: auto;
    border: solid #222222 2px;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-auto-rows: max-content;
}

.game-main-section .mines-container span.square {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background: #c0c0c0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    border: 2px outset #ececec;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.game-main-section .mines-container span.square.heart {
    color: green;
}

.game-main-section .mines-container span.square.mine {
    color: red;
}
.game-main-section .mines-container span.square:active {
    background: #bdbdbd;
    border: solid #999;
    border-width: 2px 0 0 2px;
}

.game-main-section .mines-container span.square.opened {
    background-color: #a6a4a4;
    border: solid #222222;
    border-width: 0 1px 1px 0;
    pointer-events: none;
}
