header{
    width: 100%;
    padding: 15px 10px;
    background:linear-gradient(#71719c, #bbeeff);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header >* {
    flex: 1;
}

header a.home{
    background-color: #13ab13;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    float: left;
    height: 36px;
}

header h3{
    text-align: center;
    font-size: x-large;
}

header span{
    min-width: 108px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

header span a.logged-user{
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
    background: linear-gradient(135deg, #662bca, #8118e9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}



header a.logout{
    padding: 5px 10px;
    background: #e43d3d;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    width: 41px;
    overflow: hidden;
    display: flex;
    align-items: center;
    float: right;
}

@media (max-width: 992px) {
    header a.logout{
        width: auto!important;
        color: white;
    }

    header a.home{
        color: white;
    }
}

header a.logout:hover{
    color: white;
    width: 108px;
}

header a i{
    padding: 5px 12px 5px 5px;
}
