@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

.home-main-section {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.48);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.home-main-section .form-box {
    padding: 1px;
    border-radius: 10px;
    background-color: #e2e9f4;
    /*background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));*/
    overflow: hidden;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
    width: 380px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form[name='create-form'] {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.home-main-section .form-box .box-inner {
    padding: 16px 16px;
    background-color: #e2e9f4;
    border-radius: 10px;
}

.home-main-section .form-box .box-inner span.alert-message {
    margin: 0 auto 10px auto;
    width: fit-content;
    display: block;
    color: red;
    font-weight: 700;
}


.home-main-section .form-box .box-inner .container {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.home-main-section .form-box .box-inner .container > div, form[name='login-form'] > div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

/*.home-main-section .form-box .box-inner .container .go-button {*/
/*    outline: none;*/
/*    border: none;*/
/*    color: #3c4b66;*/
/*    background-color: transparent;*/
/*    font-family: "Hind", sans-serif;*/
/*    min-width: 46px;*/
/*    min-height: 46px;*/
/*    border-radius: 10px;*/
/*    margin-right: 12px;*/
/*    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #68839c;*/
/*    cursor: pointer;*/
/*}*/

.go-button {
    align-items: center;
    appearance: none;
    background-color: #6ce382;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #3c4b66;
    cursor: pointer;
    display: inline-flex;
    font-family: "Hind", sans-serif;
    min-width: 46px;
    min-height: 46px;
    border-radius: 10px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    margin-right: 12px;
    font-size: 18px;
}

.go-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.go-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.go-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.home-main-section .form-box .box-inner label, form[name='login-form'] label {
    font-family: "Hind", sans-serif;
    display: block;
    color: #3c4b66;
    background: linear-gradient(45deg, rgba(107, 123, 143, 1), #3c4b66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: min-content;
}


.home-main-section .form-box .box-inner .container .input-container, form[name='login-form'] .input-container {
    --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
    --bottom-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 75%;
}

.home-main-section .form-box .box-inner .container .input-container:before,
.home-main-section .form-box .box-inner .container .input-container:after, form[name='login-form'] .input-container::before,
form[name='login-form'] .input-container::after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;

}

.home-main-section .form-box .box-inner .container .input-container:before,
form[name='login-form'] .input-container::before {
    box-shadow: var(--bottom-shadow);
}

.home-main-section .form-box .box-inner .container .input-container:after,
form[name='login-form'] .input-container::after {
    box-shadow: var(--top-shadow);
}

.home-main-section .form-box .box-inner .container .input-container input,
form[name='login-form'] .input-container input {
    background-color: #e3edf7;
    padding: 8px 16px;
    border: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;

    color: #0078ff;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
}

.home-main-section .form-box .box-inner .container .input-container input::placeholder,
form[name='login-form'] .input-container input::placeholder {
    color: #6d7f8f;
}

.home-main-section .form-box .box-inner .container .input-container input:focus,
form[name='login-form'] .input-container input:focus {
    outline: none;
    color: #6d7f8f;
    background-color: #eff5fa;
}


.checkbox-wrapper-10 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    align-items: center;

}

.checkbox-wrapper-10 label.label-text {
    font-family: "Hind", sans-serif;
    color: #3c4b66;
    background: linear-gradient(45deg, rgba(107, 123, 143, 1), #3c4b66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.checkbox-wrapper-10 .tgl {
    display: none;
}

.checkbox-wrapper-10 .tgl,
.checkbox-wrapper-10 .tgl:after,
.checkbox-wrapper-10 .tgl:before,
.checkbox-wrapper-10 .tgl *,
.checkbox-wrapper-10 .tgl *:after,
.checkbox-wrapper-10 .tgl *:before,
.checkbox-wrapper-10 .tgl + .tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-10 .tgl::-moz-selection,
.checkbox-wrapper-10 .tgl:after::-moz-selection,
.checkbox-wrapper-10 .tgl:before::-moz-selection,
.checkbox-wrapper-10 .tgl *::-moz-selection,
.checkbox-wrapper-10 .tgl *:after::-moz-selection,
.checkbox-wrapper-10 .tgl *:before::-moz-selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-10 .tgl::selection,
.checkbox-wrapper-10 .tgl:after::selection,
.checkbox-wrapper-10 .tgl:before::selection,
.checkbox-wrapper-10 .tgl *::selection,
.checkbox-wrapper-10 .tgl *:after::selection,
.checkbox-wrapper-10 .tgl *:before::selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after,
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:before {
    display: none;
}

.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #02C66F;
    transform: rotateY(-180deg);
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    background: #FF3A19;
    content: attr(data-tg-off);
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
    transform: rotateY(-20deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: #00a158;
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg);
}

.separator {
    display: flex;
    align-items: center;
}


.separator::before {
    content: '';
    flex: 1;
    border-bottom: 2px solid #c4c4da;
    margin: 24px 16px 24px 0;
}

.separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #c4c4da;
    margin: 24px 0 24px 16px;
}

.separator + p{
    width: 100%;
    text-align: center;
    font-weight: 700;
    color:red;
}


form[name='login-form'] {
    padding: 16px;
}

form[name='login-form'] > div {
    margin-bottom: 15px;
}

