.game-form{
    display: block;
    margin: 0 auto;
    background-color: white;
width: fit-content;
}



.form-join{
    width: 330px;
    background-color: white;
    margin: 0 auto;

}

h4.form-join{
    font-style: italic;
    color: rgb(128, 128, 128);
    font-family: serif;
}

.game-join-button{
    border: none;
    background-color: transparent;
    padding: 5px;
    width: 100%;
    text-align: start;
}

.game-join-button:hover {
    background-color: #cbdae8;
    cursor: pointer;
}