<head>

    <title>Minesweeper-Game</title>

</head>

<%- include('./partials/header.ejs') %>


<section class="game-main-section">
    <div class="mines-container">

    </div>
</section>

<button class="hoho">Click</button>

<script src="script/game.js" defer></script>


