<head>

    <title>Minesweeper-Game</title>

</head>

<%- include('./partials/header.ejs') %>


<section class="game-main-section">
    <input type="hidden" value="<%= gameId %>" name="gameId" class="game-id-hidden">
    <div class="mines-container">

    </div>
</section>

