<head>

    <title>Minesweeper-Home</title>

</head>
<%- include('./partials/header.ejs') %>

<section class="home-main-section">


    <div class="form-box ">
        <div class="box-inner">
            <span class="alert-message">New User ?</span>
            <form name="create-form" action="" method="POST">
                <div class="container">
                    <div>
                        <label for="username-input">Username:</label>
                        <div class="input-container">
                            <input placeholder="Enter a username..." id="username-input" name="username" required/>

                        </div>
                    </div>

                    <div>
                        <label for="email-input">Email:</label>
                        <div class="input-container">
                            <input placeholder="Enter an email..." id="email-input" name="email" required/>

                        </div>
                    </div>

                    <div>
                        <label for="password-input">Password:</label>
                        <div class="input-container">
                            <input placeholder="Enter a password..." id="password-input" name="password" type="password" required/>

                        </div>
                    </div>

                    <div>
                        <label for="confirmPassword-input">Re-Type Password:</label>
                        <div class="input-container">
                            <input placeholder="Re-enter the password..." id="confirmPassword-input"
                                   name="confirmPassword" type="password"
                                   required/>
                        </div>
                    </div>


                </div>

                <button type='submit' class="go-button">Go!</button>

            </form>
        </div>

        <div class="separator">
            or

        </div>
        <p class="">Login</p>

        <form name="login-form"  method="POST">
            <div>
                <label for="email-input">Email:</label>
                <div class="input-container">
                    <input placeholder="Enter your email..." id="email" name="email" required/>

                </div>
            </div>

            <div>
                <label for="email-input">Password:</label>
                <div class="input-container">
                    <input placeholder="Enter the password..." id="password" name="password" type="password" required/>
                </div>
            </div>

            <button class="login-button">Login</button>
        </form>
    </div>


</section>

<%- include('./partials/footer.ejs') %>
