<%- include('./partials/header.ejs') %>

<h1>Index Page</h1>

<section class="home-main-section">
    <div class="mines-container">

        <span></span>
        <span></span>
        <span class="toto"></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>