<head>

    <title>Minesweeper-Lobby</title>

</head>
<%- include('./partials/header.ejs') %>

<section class="lobby-main-section">
    <h2>Lobby Page</h2>

<div class="games-list">

</div>

    <form class='game-form' action="/game" method="POST">
        <input type="hidden" value="<%= user.userName %>" name="creator" >
        <button Type="submit" onclick="" class="create-game-btn">Create a game</button>

    </form>

</section>

<button class="coucou">click</button>


<script src="script/lobby.js" defer></script>
