<head>

    <title>Minesweeper-Lobby</title>

</head>

<%- include('./partials/header.ejs') %>
<% if(user && user.userName){ %>

    <span class="user-username-span">Playing as:<a class="user-username"><%= user.userName %></a>
    </span>
<% } %>

<section class="lobby-main-section">

    <div class="games-list">

    </div>

    <form class='game-form' method="POST" action="/game">
        <% if(user && user.userName){ %>

            <input type="hidden" value="<%= user.userName %>" name="creator">
        <% } %>
            <input type="hidden" value="" name="oppType" required>
            <input type="hidden" value="" name="gameName" required>

        <button Type="submit" onclick="chooseGameNameAndPlayerType(event)" class="create-game-btn">Create a game</button>

    </form>

</section>

<%- include('./partials/footer.ejs') %>

<script src="script/lobby.js" defer></script>

<script>


    async function chooseGameNameAndPlayerType(event){
        event.preventDefault();

        const form = document.querySelector('.game-form');

        const { value: formValues } = await Swal.fire({
            title: 'Enter game name and select opponent type',
            html:
                '<input id="swal-input1" class="swal2-input" placeholder="Game Name" required>' +
                '<br>' +
                '<input type="radio" name="oppType" value="real" required checked style="margin:10px 0 0 0" > Real Player   ' +
                '<input type="radio" name="oppType" value="bot" required > Bot<br>' ,
            focusConfirm: false,
            preConfirm: () => {
                const gameName = document.getElementById('swal-input1').value;
                const oppType = document.querySelector('input[name="oppType"]:checked')?.value;

                if (!gameName || !oppType) {
                    Swal.showValidationMessage('You need to choose a game name and an opponent type!');
                }

                return { gameName, oppType };
            }
        });

        if (formValues) {
            let gameName = formValues.gameName;
            let oppType = formValues.oppType;
            form.querySelector('input[name="gameName"]').value = gameName;
            form.querySelector('input[name="oppType"]').value = oppType;
            form.submit();

        }

    }
</script>





