<head>

    <title>Minesweeper-Lobby</title>

</head>
<%- include('./partials/header.ejs')%>

<section class="lobby-main-section">

    <div class="username-box">
        <label for="username">Enter Player Name:</label>
        <input id="username" type="text" placeholder="Player Name" name="username">
    </div>
</section>