<head>

    <title>Minesweeper-Lobby</title>

</head>
<%- include('./partials/header.ejs') %>

<section class="lobby-main-section">
    <h2>Lobby Page</h2>

<div class="games-list">

</div>

    <form class='game-form' action="/game" method="GET">
        <input type="hidden" value="<%= user.userName %>" name="creator" >
        <input type="hidden" value="123" name="gameId" >

        <button Type="submit" onclick="" class="create-game-btn">Create a game</button>

    </form>

    <form class='game-form' action="/game" method="GET">
        <input type="hidden" value="toto" name="joiner" >
        <input type="hidden" value="123" name="gameId" >

        <button Type="submit" onclick="" class="create-game-btn">Join a game</button>

    </form>
</section>

<script src="script/lobby.js" defer></script>
