<head>

    <title>Minesweeper-Lobby</title>

</head>
<%- include('./partials/header.ejs') %>

<section class="lobby-main-section">
    <h2>Lobby Page</h2>

    <form action="/game" method="POST">

        <button Type="submit" class="create-game-btn">Create a game</button>

    </form>
</section>