<head>

    <title>Minesweeper-Lobby</title>

</head>

<%- include('./partials/header.ejs') %>
<% if(user && user.userName){ %>


<% } %>

<section class="lobby-main-section">

    <div class="games-list">

    </div>

    <form class='game-form' action="/game" method="POST">
        <% if(user && user.userName){ %>

            <input type="hidden" value="<%= user.userName %>" name="creator">
        <% } %>
        <div class="game-name-input-container">
            <label for="gameName">Enter a game name</label>
            <input type="text" value="" name="gameName" id="gameName">
        </div>

<!--            <div class="game-name-input-container">-->
<!--                <label for="bot">Play against a bot?</label>-->
<!--                <input type="checkbox" name="gameName" id="gameName">-->
<!--            </div>-->


        <button Type="submit" onclick="" class="create-game-btn">Create a game</button>

    </form>

</section>

<%- include('./partials/footer.ejs') %>

<script src="script/lobby.js" defer></script>

<script>

    let gameNameInput = document.querySelector('.game-name-input-container input');
    let gameNameLabel = document.querySelector('.game-name-input-container label');

    if(gameNameInput.value){
        gameNameLabel.style.display = 'none';
    }

    gameNameInput.addEventListener('focus' , function(){
        gameNameLabel.style.display = 'none';

    })

    gameNameInput.addEventListener('focusout' , function(event){
        let inputValue =event.target.value;
        if(!inputValue){
            gameNameLabel.style.display = 'inline';

        }
    })
</script>





