<head>

    <title>Minesweeper-Lobby</title>

</head>

<%- include('./partials/header.ejs') %>
<% if(user && user.userName){ %>

    <h2 style="margin: auto;width: fit-content;text-align: center; padding: 5px;background: #00a158;border-radius: 5px">Logged in as : <%= user.userName.charAt(0).toUpperCase() + user.userName.slice(1)%></h2>

<%  } %>

<section class="lobby-main-section">

    <div class="games-list">

    </div>

    <form class='game-form' action="/game" method="POST">
        <% if(user && user.userName){ %>

            <input type="hidden" value="<%= user.userName %>" name="creator">
        <%  } %>

        <button Type="submit" onclick="" class="create-game-btn">Create a game</button>

    </form>

</section>

<%- include('./partials/footer.ejs') %>

<script src="script/lobby.js" defer></script>





