<head>

    <title>Minesweeper-Lobby</title>

</head>

<%- include('./partials/header.ejs') %>

<section class="lobby-main-section">

    <div class="games-list">

    </div>

    <form class='game-form' action="/game" method="POST">
        <% if(user && user.userName){ %>

            <input type="hidden" value="<%= user.userName %>" name="creator">
        <%  } %>

        <button Type="submit" onclick="" class="create-game-btn">Create a game</button>

    </form>

</section>

<%- include('./partials/footer.ejs') %>

<script src="script/lobby.js" defer></script>





